@use "sass:color";
@use "variables";
@use "functions";

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin auto-text-color($background-color) {
  color: functions.get-text-color($background-color);
}

@mixin colors-for-input {
  @each $type, $color in variables.$colors {
    &.color-#{$type} {
      $background-color: color.adjust($color, $whiteness: 50%);
      @include auto-text-color($background-color);


      @if $type == "white" {
        border-color: map-get(variables.$colors, "gray");
      } @else {
        border-color: $color;
      }
    }
  }
}

@mixin colors-for-button {
  @each $type, $color in variables.$colors {
    &.color-#{$type} {
      @include auto-text-color($color);
      background-color: $color;
    }
  }
}